/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(89, 6, 173);
    color: rgb(34, 34, 34);
}

a{
    color: inherit!;
}

.btn-link{
    color: rgb(34, 34, 34);
}