/* You can add global styles to this file, and also import other style files */
body{
    color: rgb(34, 34, 34);
    background: linear-gradient(180deg, #fff59d,#e1bee7);
}

a{
    color: inherit!;
}

.btn-link{
    color: rgb(34, 34, 34);
}